.curso {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.curso h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    color: #D9E3EA;
    text-align: center;
}

.curso p {
max-width: 65ch;
text-align: center;
font-size: 1.125rem;
color: #9BA9B4;
max-width: 60ch;
}

.badge {
    padding: 0.5rem 1rem;
    border-radius: 100px;
    background-color: #A7F3D0;
    color: #059669;
    font-weight: 600;
    font-size: 14px;
}

.curso-detalhes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    gap: 120px 30px;
}

.curso-item{
    display: grid;
    justify-content: left;  
    justify-items: start;  
}

.curso-detalhes p {
    text-align: initial;
}

.curso-item-header {
    position: relative;
}

.curso-item-header span{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.1rem;
    color: #2563EB;
    position: absolute;
    top: -40px;
    display: block;
}

.curso-item-header h2{
    font-size: 2rem;
}

.curso-cap img{
    height: 100%;
    object-fit: cover;
}


@media (max-width: 767px) {
    .curso-detalhes {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 75px 10px;
    }
    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }

    .order-4 {
        order: 4;
    }
    .order-5 {
        order: 5;
    }

    .order-6 {
        order: 6;
    }

    .order-7 {
        order: 7;
    }

    .order-8 {
        order: 8;
    }

    .curso-item{
        margin-bottom: 30px;
    }
}