.introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    padding: 0;
    gap: 25px;
    background: url('../img/background-2.svg') no-repeat bottom -0px left -50px;
    padding-bottom: 60px;
   
}

.introducao h1{
    font-weight: 800;
    font-size: 3.25rem;
    text-align: center;
    line-height: 4rem;
    letter-spacing: -1.04px;
}

.introducao p {
    font-weight: 400;
    color: #9BA9B4;
    text-align: center;
    font-size: 1.25rem;
    max-width: 65ch;
    line-height: 30px;
    flex-shrink: 0;
    
}

.introducao > img {
    margin-top: 60px;
    max-width: 768px;
    max-height: 384px;
}

.beneficios {
    display: flex;
    gap: 25px;
}

.beneficios-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.beneficios p {
    font-size: 1.125rem;
}

@media (max-width: 1025px){
    .introducao {
        background: inherit;
    }
    .introducao > img {
        width: 90vw;
        margin-top: 30px;
    }
}

@media (max-width: 680px) {
    body {
        background-size: 300px;
    }

    .beneficios {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    
  
}