.video {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    align-content: center;
}

.video h1 {
    font-size: 2.5rem;
    text-align: center;
}

.video p {
    font-size: 1.25rem;
    color: #9BA9B4;
    text-align: center;
    margin-top: 20px;
}


.video iframe {
    width: 560px;
    height: 315px;
}

@media (max-width: 700px) {
    .video iframe {
        width: 300px;
        height: 180px;
    }
}